[mysqld]
character-set-server=utf8
general-log=On
general-log-file=/var/log/mysql/mysql.log
innodb_file_format=Barracuda
innodb_file_per_table=1
innodb_large_prefix
innodb_strict_mode=0

[mysql]
default-character-set=utf8

[client]
default-character-set=utf8
